


    <ul>
      <li><a href="/contacts">View all contacts</a></li>
      <li><a href="/contacts/new">Add new contacts</a></li>
      <strong> Current Time : <%= @current_time %></strong>
      <!-- please complete me with links to other actions -->
    </ul>
