
    <h1>Create new Contact</h1>

      <form action='/contacts' method='post'>
        <h4> First name </h4>
        <input type='text' name='first_name'>
        <h4> Last name </h4>
        <input type='text' name='last_name'>
        <h4> Email </h4>
        <input type='text' name='email'>
        <h4> note </h4>
        <input type='text' name='Note'>
        <input type='submit' value='New Contact'>
      </form>
